[aria-hidden="true"][class="mjx-math"] {
    display: none;
}

.highlight {
    font-size: 90%;
    color: #f8f8f2;
    background-color: #233445;
}

.highlight .c1 {
    color: #3776CE;
    font-style: italic;
}

.highlight .o {
    color: #f92672;
    font-weight: bold;
}

.highlight .mi {
    color: #ae81ff;
}

.highlight .k, .highlight .kv {
    color: #66d9ef;
    font-weight: bold;
}

.highlight .s {
    color: #e6db74;
}

.tag:hover {
    background-color: #074B80;
    color: white;
}

.tag {
    text-align: left;
    background: rgba(1,75,129,0.9);
    color: #fff;
    border-radius: 0px 0px 0px 0px;
    display: inline-block;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px 0 5px;
    position: relative;
    margin: 0 5px 5px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}


